{% extends "base.html" %}
{% block title %}About Us{% endblock title %}
{% block page_content %}
<div class = "container-fluid py-0 px-0 mb-3">
    <img src="/static/img/about.png/" class="d-block w-100 " alt="..." width = '1600px' height = '400px'>
</div>

<div class="container marketing">
<h1>Meet Our awesome team members</h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/static/img/team1.jpg/" class="bd-placeholder-img rounded-circle " alt="..." width = '140px' height = '140x'>
        <h2>C.E.O</h2>
        <p>Meet our gorgeous Chief Executive Officer.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/img/team.jpg/" class="bd-placeholder-img rounded-circle " alt="..." width = '140px' height = '140x'>
        <h2>C.M.O</h2>
        <p>Top leading markets are prior known to her. Our Chief Marketing Officer</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/img/team2.jpg/" class="bd-placeholder-img rounded-circle " alt="..." width = '140px' height = '140x'>
        <h2>C.O.O</h2>
        <p>Chief Operating Officer with her knowledge of handling every nook and corners of the process.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
  </div>
{% endblock page_content %}